.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  border: 1px solid #ccc;
  padding: 20px;
  width: 300px;

  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
  font-size: 1.2rem;
  background-color: white;
  border-radius: 20px;
}


.header {
  margin: 0;
  font-size: 1.3rem;
  margin-bottom: 1rem;
}

.card .list {
  margin: 0;
  padding: 0;
}

.listItem {
 display: flex;
 align-items: center;
 justify-content: space-between;
}

.listItem input{
  margin-right: 0.6em;
}

.addBtn {
  width: 100%;
  padding: 10px 20px;
  border-radius: 10px;
  border: none;
  font-weight: bold;
  font-size:medium;
  margin-top: 1rem;
}

.addBtn .oops {
  visibility: hidden;
}


.addBtn:hover {
  animation-name: example;
  animation-duration: 2s;
}


.addBtn:hover {
  visibility: none;
}

@keyframes example {
  0% {opacity: 1;}
  50% {opacity: 0; transform: translateY(-10px)}
  100% {opacity: 0;}
}





